let mapleader=" "
sethandler n:vim i:ide

" https://github.com/JetBrains/ideavim/blob/master/doc/IdeaVim%20Plugins.md
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
Plug 'vim-scripts/argtextobj.vim'

set scrolloff=8
set visualbell
set incsearch hls
set ignorecase smartcase
set clipboard=unnamedplus
set relativenumber
set nolist
set wrap

set ideajoin

" Config file shortcuts
nmap <Leader>src <Action>(IdeaVim.ReloadVimRc.reload)
nmap <Leader>erc :e ~/.ideavimrc<CR>

" Clear search highlights
nmap <ESC> :nohlsearch<CR>

" Finding stuff
nmap gs <Action>(FileStructurePopup)
nmap gS <Action>(GotoSymbol)
nmap gT <Action>(GotoClass)
nmap <c-;> <Action>(GotoFile)
nmap ga <Action>(GotoAction)
nmap gb <Action>(RecentFiles)

nmap cd <Action>(RenameElement)
nmap <c-.> <Action>(ShowIntentionActions)

nmap <Leader>rg <Action>(Find)
nmap <Leader>rG <Action>(FindInPath)

" jumps
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
nmap [c <Action>(VcsShowPrevChangeMarker)
nmap ]c <Action>(VcsShowNextChangeMarker)
